
<!DOCTYPE html>

<html lang="en">

@await Component.InvokeAsync("_HeadLayoutComponentPartial")
<body>
	<div class="wrapper">
		<!-- Sidebar -->
		@await Component.InvokeAsync("_SidebarLayoutComponentPartial")
		<!-- End Sidebar -->
		@await Component.InvokeAsync("_MainPanelLayoutComponentPartial")

		@await Component.InvokeAsync("_FooterLayoutComponentPartial")

	</div>

	<!-- Custom template | don't include it in your project! -->
	@await Component.InvokeAsync("_CustomTemplateLayoutComponentPartial")
	<!-- End Custom template -->
	</div>
	@await Component.InvokeAsync("_ScriptsLayoutComponentPartial")
</body>
</html>